/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}
.contain {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Roboto";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
}

h1 {
  margin-bottom: 23px;
  font-size: 28px;
}

@media (min-width: "768px") {
  img {
    width: 300px;
  }
  h1 {
    font-size: 33px;
  }
}
